/*Adapté 332x600px jusqu'à 499x600px*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2em;
}
head, body {
    height: 100vh;
    width: 100vw;
    
}
img {
    border-radius: 5px;
    box-shadow: 2px 2px rgb(255,0,0,0.3)
}
header{
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid pink;
    padding: 5px;

}
.promotion {
    background-color: white;
    color: pink;
    width: 100vw;
    margin-top: 0;
    font-size: 14px;
    text-align: center;
}
.img_header {
    width: 32px;
    height: 32px;
}

/*PARTIE MAIN*/
main {
    background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}
.img_rose {
    margin-top: 10px;
    width: 300px;
    height: 300px;
}
.price {
    font-size: 14px;
    color: pink;
    background-color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    text-shadow: 1px 1px gray;
    font-size: 16px;
}
.center {
    margin-top: 10px;
    border: 3px solid white;
    padding: 5px;
}
.img_products {
    height: 74.36px;
    width: 74.36px;
}
.img_product_bleu {
    margin: 0px 5px 0px 5px;
}
h1 {
    margin-top: 15px;
    border: 3px solid white;
    text-shadow: 1px 1px gray;
    text-shadow: 2px 2px white;
    padding: 2px;
}
table, tr, td {
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
}
select {
    width: 100px;
}
input {
    width: 300px;
}
h2 {
    margin-top: 15px;
    width: 100vw;
    color: pink;
    background-color: white;
    text-shadow: 1px 1px grey;
    padding: 5px;
    letter-spacing: 2px;
    text-align: center;
}
p {
    text-align: center;
    margin: 15px 10px 0 10px;
    letter-spacing: 2px;
}
.img_lady {
    margin-top: 15px;
    box-shadow: 5px 5px white;
}
.img_musee {
    margin-top: 15px;
    width: 320px;
    box-shadow: 5px 5px white;
}
.img_paiementSecure {
    margin-top: 15px;
    width: 320px;
}
.btn_stripe {
    background-color: pink;
    color: white;
    font-weight: bold;
    padding: 5px;
    border: 2px solid white;
    display: none;
    border-radius: 5px 5px 5px 5px;
}
.other_products {
    display: flex;
    flex-direction: row;
}
.item1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    padding: 5px;
}
.img_product_1 {
    width: 100px;
}
/*FOOTER PART*/
footer {
    margin-top: 15px;
    padding: 5px;
    text-align: center;
    font-size: 10px;
    background-color: white;
    width: 100vw;
    letter-spacing: 2px;
}
.p_footer {
    text-align: center;
}
.h3_footer {
    margin-top: 15px;
}
/*RESPONSIVE MIN 552x600px*/
@media screen and (min-width: 500px) and (max-width: 700px) {
    .maxWidth499px {
        display: none;
    }
    .promotion {
        font-size: 18px;
        margin-top: 2px;
        padding: 2px;
        border-bottom: 1px solid red;
        border-top: 1px solid red;
        text-shadow: 0.5px 0.5px red;
        display: block;
    }
    h1 {
        color: pink;
        border: none;
        background-color: white;
        width: 100vw;
        text-align: center;
        text-shadow: 0.5px 0.5px red;
    }
    .price {
        width: 50vw;
        font-size: 18px;
        text-shadow: 0.5px 0.5px red;
    }
    td {
        color: white;
        text-shadow: 0.5px 0.5px red;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 5px;
    }
    select {
        border-radius: 5px;
        border-color: red;
        padding: 5px;
        text-align: center;
        font-weight: lighter;
        width: 80px;
        color: black;
        text-shadow: 0.5px 0.5px lightgray;
        text-transform: uppercase;
        box-shadow: 2px 2px white;
    }
    .item1 {
        margin-top: 10px;
        border-radius: 5px;
        box-shadow: 3px 3px white;
        padding: 10px;
    }
    .other_products {
        justify-content: space-around;
        box-sizing: border-box;
        flex-wrap: wrap;
        padding: 5px;
        gap: 7px;
    }
    .img_product_1 {
        width: 200px;
        box-shadow: 1px 3px white;
    }
    .price_other_products {
        color: white;
        font-weight: bold;
        font-size: 18px;
        text-shadow: 1px 1px red;
        padding: 2px;
        box-shadow: 1px 1px purple;
    }
    .btn_other_products {
        margin-top: 10px;
        background-color: white;
        border: none;
        padding: 5px;
        border-radius: 10px;
        font-weight: bold;
        text-shadow: 0.3px 0.5px red;
        font-size: 18px;
        margin-bottom: 10px;
        box-shadow: 1px 1px red;
    }
    a {
        text-decoration: none;
        color: pink;
    }
};